<html>
<head>
<title> Form Submission</title>
</head>
<body>
<form action="/pricing/details/" method="GET">
<table border='0'>
<tr>
<td align="left">Title</td>
<td align="center" width='200px'><input type='text' value='' id='7' name='7' size="100"></td>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.ncchomelearning.co.uk/">ncchomelearning.co.uk</a></td>
<td align="center"><input type='text' value='' id='1' name='1' size="100"></td>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://mydistance-learning-college.com/">mydistance-learning-college.com</a></td>
<td align="center"><input type='text' value='' id='2' name='2' size="100"></td>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.distance-learning-centre.co.uk/">distance-learning-centre.co.uk/</a></td>
<td align="center"><input type='text' value='' id='3' name='3' size="100"></td>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.openstudycollege.com/">openstudycollege.com</a></td>
<td align="center"><input type='text' value='' id='4' name='4' size="100"></td>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.ukopencollege.co.uk/">ukopencollege.co.uk</a></td>
<td align="center"><input type='text' value='' id='5' name='5' size="100"></td>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.edistancelearning.co.uk/">edistancelearning.co.uk</a></td>
<td align="center"><input type='text' value='' id='6' name='6' size="100"></td>
</tr>
</table>
<input type="submit" value='Get & save data'>
</form>

<form action="/pricing/export" method='GET'>

<div>
	{% if results %}
	<table border = '1'>
	    {% for u in results %}
	    <tr>
	    	{% if u.0 == 'Title' %}
	    		<input type='hidden' id='title_unique' name='title_unique' value="{{ u.1 }}">
				<th>{{ u.0 }} </th><td>{{ u.1 }}</td>
			{% else %}
				<th>{{ u.0 }} </th><td>&pound;{{ u.1 }}</td>
			{% endif %}
		</tr>
	    {% endfor %}
    </table>
    <input type="submit" value='Export Above Data'>
    {% endif %}
</div>


</form>
<div>
<a href = "/pricing/list">Complete product list</a></div>
{% if query_data %}
	<table border = '1'>
	<tr>
			<td>Title</td>
			<td>ncchomelearning.co.uk</td>
			<td>mydistance-learning-college.com</td>
			<td>distance-learning-centre.co.uk</td>
			<td>openstudycollege.com</td>
			<td>ukopencollege.co.uk</td>
			<td>edistancelearning.co.uk</td>
			<td>Average competitor Price</td>
		</tr>
	    {% for u in query_data %}
	    <tr>
			<td>{{ u.title }}</td>
			<td>{{ u.ncchomelearning_price }}</td>
			<td>{{ u.mydistance_learning_college_price }}</td>
			<td>{{ u.distance_learning_centre_price }}</td>
			<td>{{ u.openstudycollege_price }}</td>
			<td>{{ u.ukopencollege_price }}</td>
			<td>{{ u.edistancelearning_price }}</td>
			<td>{{ u.avg_comp_price }}</td>
		</tr>
	    {% endfor %}
    </table>
{% endif %}
</body>
</html>