<html>
<head>
<title> Form Submission</title>
</head>
<body>
<form action="/pricing/details/" method="GET">
<table border='0'>
<tr>
<td align="left">Title</div>
<td align="center" width='200px'><input type='text' value='' id='7' name='7' size="100"></div>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.ncchomelearning.co.uk/">ncchomelearning.co.uk</a></div>
<td align="center"><input type='text' value='' id='6' name='6' size="100"></div>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://mydistance-learning-college.com/">mydistance-learning-college.com</a></div>
<td align="center"><input type='text' value='' id='1' name='1' size="100"></div>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.distance-learning-centre.co.uk/">distance-learning-centre.co.uk/</a></div>
<td align="center"><input type='text' value='' id='2' name='2' size="100"></div>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.openstudycollege.com/">openstudycollege.com</a></div>
<td align="center"><input type='text' value='' id='3' name='3' size="100"></div>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.ukopencollege.co.uk/">ukopencollege.co.uk</a></div>
<td align="center"><input type='text' value='' id='4' name='4' size="100"></div>
</tr>
<tr>
<td align="left">Enter URL for <a href="http://www.edistancelearning.co.uk/">edistancelearning.co.uk</a></div>
<td align="center"><input type='text' value='' id='5' name='5' size="100"></div>
</tr>
</table>
<input type="submit" value='Get Data'>
</form>

<div>
	{% if results %}
	<table border = '1'>
	    {% for u in results %}
	    <tr>
	    	{% if u.0 == 'Title' %}
				<th>{{ u.0 }} </th><td>{{ u.1 }}</td>
			{% else %}
				<th>{{ u.0 }} </th><td>&pound;{{ u.1 }}</td><td>{{ u.2 }}</td>
			{% endif %}
		</tr>
	    {% endfor %}
	    
    </table>
    {% endif %}
</div>
</body>
</html>